.graph {
    /* height: calc(100vh - 80px); */
    /* background-color: #FAFAFA; */
}
.graph .error-message {
    text-align: center;
    font-size: 16px;
    color: #4c5da7;
    padding-top: 30vh;
}

canvas { 
    height: calc(100vh - 80px);
    position: absolute;
    width: 100%;
    background-color: #FAFAFA !important;
}
