.close-button {
    border: none;
    outline: none;
    border-radius: 4px;
    color: #C7C7C7;
    background-color: transparent;
    padding: 9px 15px;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
}
  