.react-tagsinput-input {
    background: transparent;
    border: 0;
    color: #777;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 0px;
    margin-top: 6px;
    outline: none;
    padding: 0px;
    width: 300px;
}
  
.h-45{
    height: 45px !important;
}
  
.h-42{
    height: 42px !important;
}

.wi-25{
    width: 25px !important;
}
  