.sideBar {
  /* height: calc(100vh - 80px); */
  height: 100vh;
  background-color: #fff;
  padding: 25px;
  overflow-y: scroll;
  z-index: 2;
  box-shadow: -2px 0px 5px #C7C7C7;
  /* position: absolute; */
  position: relative;
  font-family: 'PT Sans', sans-serif;
}
.sideBar::-webkit-scrollbar {
  width: 4px;
}
.sideBar::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 10px;
}
.sideBar::-webkit-scrollbar-thumb {
  background-color: #d2d2d2;
  border-radius: 6px;
}
.side-bar-title {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.1em;
  margin-top: 0;
  margin-bottom: 40px;
}
.sidebar-category {
  margin-top: 20px;
}
.sidebar-category h3 {
  font-size: 16px;
  font-weight: 400;
  color: #1B1B1B;
}
.sidebar-category p {
  color: #6D6D6D;
  font-size: 16px;
  font-family: 'PT Serif', serif;
}
.button-center{
  text-align: center;
}

.InputElement {
  outline: none;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  padding: 6px 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;
}