.main {
  display: flex;
  font-family: 'Roboto', sans-serif;
}


.main .graph {
  order: 1;
  flex: 0 1 100%;
}

.main .side-bar {
  order: 2;
  flex: 0 1 600px;
  position: relative;
  /* margin-top: 60px; */
  /* background-color: #FAFAFA; */
}

.m-t-33{
  margin-top: 33px;
}

#right
{
    position:absolute;
    right:0px;
}